S3method(boxplot,rlm)
S3method(ggplot,evmSim)
S3method(ggplot,hist.evmOpt)
S3method(ggplot,rlm)
S3method(ggplot,summary.margarita.sim.prob)
S3method(ggplot,summary.margarita.sim.rl)
S3method(simulate,margarita)
export(AICtable)
export(evidence)
export(ggacfplots)
export(ggdensplots)
export(ggplotrl)
export(ggqqplot)
export(ggtraceplots)
export(gpdThresh)
export(lmr)
export(margarita)
export(shiftplot)
export(simBase)
export(simLinear)
import(ggplot2)
import(texmex)
importFrom(MASS,rlm)
importFrom(graphics,boxplot)
importFrom(gridExtra,grid.arrange)
importFrom(mvtnorm,rmvnorm)
importFrom(stats,simulate)
importFrom(utils,head)
